
@model SignUpForm

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Get Started</title>
    <link rel="stylesheet" href="/css/GetStarted.css">
</head>
<body>
<div class="message">
    <h1>Welcome @Model.FirstName,Lets get your creativity and emotions flowing!</h1>

</div>
<br/>
<a asp-action="Index">Log in now</a> 
</body>
</html>
